<launch>	
	<rosparam file="$(find global_planner)/cfg/dep_param.yaml" ns="/DEP"/>
	<rosparam file="$(find global_planner)/cfg/dynamic_map_param.yaml" ns="/dynamic_map"/>
	<rosparam file="$(find global_planner)/cfg/dynamic_detector_param.yaml" ns="/onboard_detector" />
	<node pkg="global_planner" type="test_dep_node" name="test_dep_node" output="screen" />
</launch>